.cv-form {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.add-section-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: var(--secondary-color);
	outline: 0px solid var(--secondary-color);
	border: 0px;
	border-radius: 6px;
	color: var(--font-color);
	padding: 6px 0px;
	font-weight: 400;
	transition: background-color 200ms ease;
}

.add-section-btn:hover {
	background: none;
	outline: 2px solid var(--secondary-color);
	transition: background-color 200ms ease;
}

.add-section-btn > svg {
	width: 20px;
	height: 20px;
}

/* Input sections */

.input-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input-section > div {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

/* Practical exp div */
.input-section > div > div {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.input-section h2 {
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: 10px;
	color: var(--font-color);
}

.input-section hr {
	margin-top: 15px;
	border: 0px solid var(--complementary-bg-color);
	border-bottom: 2px solid var(--complementary-bg-color);
}
